# Don't check the following filetypes.
*.html
*.md
*.scss

# Ignore simplecov generated report.
/coverage

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/public/assets
/public/packs
