<% page_title(@document.title, @namespace.title) %>

<div class="document">
  <header>
    <div class="float-right">
      <% if policy(@document).update? %>
        <%= link_to 'Edit', edit_internal_namespace_document_path(@namespace, @document.id), class: 'btn btn--action' %>
      <% end %>
    </div>

    <h1 class="document__title">
      <%= @document.title %>
    </h1>
  </header>

  <div id="untitled-document" data-doc="<%= @document.content %>">
  </div>
</div>
