<%= form_with(model: @document) do |f| %>
  <div><%= f.button class: 'btn btn--action' %></div>

  <%= f.text_field :title, placeholder: 'Title', class: 'document__title w-full' %>

  <div id="untitled-editor">
    <%= f.hidden_field :content %>
  </div>
<% end %>
